h4 {
  text-decoration: underline;
  text-align: center;
  font-size: 2vw;
  margin-top: 2%;
  margin-bottom: 2%;
}

h2, p {
  display: block;
  animation: test 2s;
}

li {
  list-style: none;
  height: 10%;
  font-size: 1.5vw;
}

ul {
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 5%
}

.modal {
  position: absolute;
  color: white;
  text-align: left;
  height: 40vw;
  width: 30vw;
  animation: expand 0.5s ease;
  background: rgba(0, 0, 0, 0.6);
  z-index: auto;
  z-index: initial;
}

.modalOverlay {
  position: absolute;
  width: 1px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  animation: slide 1s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
}

.reviewModal {
  display: block;
  position: absolute;
  width: 25%;
  height: 25%;
  top: 0;
  left: 100%;
  padding: 4px;
  font-size: 1.2vw;
  animation: review 1.5s ease-out;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.reviewModal h2, p {
  margin: 0;
}

.star {
  animation: test 2s;
}

.video {
  height: 3px;
  width: 3px;
}

.closeButton {
  position: absolute;
  text-align: center;
  color: white;
  height: 1.5vw;
  width: 1.5vw;
  font-weight: normal;
  font-size: 1vw;
  border-radius: 4px;
  left: 3px;
  top: 3px;
  padding: 0;
  padding-left: 1px;
  background: #00aac8;
}

.closeButton:hover {
  background-color: white;
  height: 1.5vw;
  width: 1.5vw;
  color: #00aac8;
  border: 1px solid #00aac8;
}

.closeButton:active {
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 5px;
  margin: 5px;
  background-color: #00aac8;
  color: black;
}


.reviewButton {
  position: absolute;
  text-align: center;
  font-size: 0.7vw;
  font-weight: bold;
  height: 13%;
  width: 80%;
  animation: test 2s;
  color: white;
  padding: 0;
  padding-left: 1px;
  background: #00aac8;
}

.reviewButton:hover {
  height: 13%;
  width: 80%;
  color: #00aac8;
  padding: 0;
  padding-left: 1px;
  background: white;
  border: 1px solid #00aac8;
}

.reviewButton:active {
  position: absolute;
  text-align: center;
  font-weight: bold;;
  height: 13%;
  width: 80%;
  animation: test 2s;
  color: white;
  padding: 0;
  padding-left: 1px;
  background: #00aac8;
}

#revbtn {
  position: absolute;
  padding: 0;
  height: 4.5%;
  width: 80%;
  width: 20%;
  margin: 0;
  margin-right: 3%;
  background-color: #00aac8;
  font-size: 1vw;
  right: 0;
  z-index: 0;
}

#revbtn:hover {
  background-color: white;
  height: 4.5%;
  width: 20%;
  color: #00aac8;
  border: 1px solid #00aac8;
}

#revbtn:active {
  height: 4.5%;
  width: 20%;
  border-radius: 5px;
  background-color: #00aac8;
  color: white;
}

@keyframes review {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes test {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    transform: scale(0);
   }
  to {
    transform: scale(1);
  }
}
