h4 {
  text-decoration: underline;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

h2, p {
  display: block;
  animation: test 2s;
}

li {
  list-style: none;
  height: 10%;
  font-size: 1.5vw;
}

ul {
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 5%
}

.modal {
  position: absolute;
  color: yellow;
  text-align: left;
  height: 70vh;
  width: 30vw;
  animation: expand 0.5s ease;
  background: rgba(0, 0, 0, 0.6);
  z-index: auto;
  z-index: initial;
}

.modalOverlay {
  position: absolute;
  width: 1px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  animation: slide 1s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
}

.reviewModal {
  display:flex;
  justify-content: center;
  width: 25%;
  height: 40%;
  position: absolute;
  animation: review 1.5s ease-out;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 100%;
  z-index: 1;
}

.reviewModal {
  display: block;
}

.video {
  height: 3px;
  width: 3px;
}

.closeButton {
  position: absolute;
  text-align: center;
  color: white;
  right: 3px;
  top: 3px;
  padding: 0;
  padding-left: 1px;
  height: 22px;
  width: 22px;
  font-size: 16px;
  background: purple;
}

.closeButton:hover {
  color: purple;
  background-color: white;
  text-decoration: none;
  cursor: grab;
}

.closeButton:focus {
  cursor: grabbing;
}

#revbtn {
  position: absolute;
  padding: 0;
  width: 20%;
  height: 2.5vh;
  margin: 0;
  margin-right: 3%;
  font-size: 1vw;
  right: 0;
  z-index: 0;
}

@keyframes review {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes test {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    transform: scale(0);
   }
  to {
    transform: scale(1);
  }
}
