#buttonMenu {
  background-color: #bbb;
  width: 50vw;
  margin: 0 auto;
}

h1 {
  text-align:center;
}

#buttonMenu button {
  background-color: #DA70D6;
  border: 5px solid black;
  color: black;
  margin: 5px;
  padding: 10px 24px;
  width: 50%;
}

button {
  display: flex;
  justify-content: center;
  height:40px;
  position:relative;
  top:50%;
  left:50%;
  padding: 10px;
  margin: 0 auto;
}
