#buttonMenu {
  background-color: #bbb;
  width: 100vw;
  margin: 0 auto;
  position: sticky;
}

h1 {
  text-align:center;
}

.modal {
  position: absolute;
  background-color: red;
  color: red;
  top: 10px;
  left: 10px;
  width: min;
  height: min;
  padding-left: 20px;
  padding-right: 20px;
  animation: slide 2s ease;
  background: rgba(0, 0, 0, 0.6);
}

.closeButton: {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.modalOverlay {
  position: absolute;
  width: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  animation: slide 2s ease;
}

@keyframes slide {
  from { left: -100px; }
  to { left: 10px; }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
