h5 {
  margin-top: 1.3px;
  margin-bottom: 2.3px;
}

.main {
  position: absolute;
  height: 10%;
  color: white;
}

.container {
  display: flex;
  position: relative;
  margin-bottom: 3px;
  cursor: pointer;
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.2);
  background: white;
  vertical-align: middle;
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
  margin-right: 10px;

  i.icon {
    opacity: 0.2;
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 3px rgba(0,0,0,.5);
  }

  &:hover {
    border: 5px solid rgba(0,0,0,0.2);
  }
}

.label__text {
  color: white;
  font-size: 0.7em;
  text-align: center;
  margin-top: 5px;
}

.label__checkbox:checked + .label__text .label__check {
  animation: check 0.4s cubic-bezier(0, 0, 0, 0) forwards;
  color: white;

  .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .2s cubic-bezier(0, 0, 0, 0) 1.5s 1 forwards;
  }
}

/* .center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
} */

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes check {
  0% {
    border-width: 2px;
  }
  12% {
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
  }
  17% {
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
  }
  25% {
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    width: 1.5em;
    height: 1.5em;
    background: #D3D3D3;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 1.4em;
    height: 1.4em;
    background: #A9A9A9;
    border: 0;
    opacity: 1;
  }
}

@media only screen and (min-width: 768px){
  .label__text {
    color: white;
    font-size: 0.7em;
    text-align: center;
    margin-top: 3px;
  }
}

@media only screen and (max-width: 768px){
  .container {
    height: 10px;
    margin-bottom: 2px;
  }

  .label__text {
    margin-top: 2px;
  }
}
