@media only screen and (min-width: 561px){

  .container {
    display: flex;
    position: relative;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 0.4em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h5 {
    margin-top: 1.3px;
    margin-bottom: 2.3px;
    font-size: 0.63em;
  }

  .main {
    height: 200px;
  }

  .label__checkbox {
    display: none;
  }

  .label__check {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
    background: white;
    vertical-align: middle;
    width: 1.35em;
    height: 1.35em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
    font-size: 0.8em;
    margin-right: 10px;

    i.icon {
      opacity: 0.2;
      color: transparent;
      transition: opacity .3s .1s ease;
      -webkit-text-stroke: 3px rgba(0,0,0,.5);
    }

    &:hover {
      border: 5px solid rgba(0,0,0,0.2);
    }
  }

  .label__text {
    color: white;
    font-size: 1.05em;
  }

  .label__checkbox:checked + .label__text .label__check {
    animation: check 0.4s cubic-bezier(0, 0, 0, 0) forwards;
    color: white;

    .icon {
      opacity: 1;
      transform: scale(0);
      color: white;
      -webkit-text-stroke: 0;
      animation: icon .2s cubic-bezier(0, 0, 0, 0) 1.5s 1 forwards;
    }
  }

  /* .center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  } */

  @keyframes icon {
    from {
      opacity: 0;
      transform: scale(0.2);
    }
    to {
      opacity: 1;
      transform: scale(1)
    }
  }

  @keyframes check {
    0% {
      border-width: 2px;
    }
    12% {
      opacity: 0.1;
      background: rgba(0,0,0,0.2);
    }
    17% {
      opacity: 0.4;
      background: rgba(0,0,0,0.1);
    }
    25% {
      opacity: 0.4;
      background: rgba(0,0,0,0.1);
      border-width: 0;
    }
    50% {
      width: 1.7em;
      height: 1.7em;
      background: #D3D3D3;
      border: 0;
      opacity: 0.6;
    }
    100% {
      width: 1.6em;
      height: 1.6em;
      background: #A9A9A9;
      border: 0;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 768px){

  .container {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 0.65em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h5 {
    margin-top: 3px;
    margin-bottom: 5px;
  }

  .main {
    height: 200px;
  }

  .label__checkbox {
    display: none;
  }

  .label__check {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.2);
    background: white;
    vertical-align: middle;
    width: 1.35em;
    height: 1.35em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
    font-size: 0.8em;
    margin-right: 10px;

    i.icon {
      opacity: 0.2;
      color: transparent;
      transition: opacity .3s .1s ease;
      -webkit-text-stroke: 3px rgba(0,0,0,.5);
    }

    &:hover {
      border: 5px solid rgba(0,0,0,0.2);
    }
  }

  .label__text {
    color: white;
    font-size: 1.05em;
  }

  .label__checkbox:checked + .label__text .label__check {
    animation: check 0.4s cubic-bezier(0, 0, 0, 0) forwards;
    color: white;

    .icon {
      opacity: 1;
      transform: scale(0);
      color: white;
      -webkit-text-stroke: 0;
      animation: icon .2s cubic-bezier(0, 0, 0, 0) 1.5s 1 forwards;
    }
  }

  /* .center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  } */

  @keyframes icon {
    from {
      opacity: 0;
      transform: scale(0.2);
    }
    to {
      opacity: 1;
      transform: scale(1)
    }
  }

  @keyframes check {
    0% {
      border-width: 2px;
    }
    12% {
      opacity: 0.1;
      background: rgba(0,0,0,0.2);
    }
    17% {
      opacity: 0.4;
      background: rgba(0,0,0,0.1);
    }
    25% {
      opacity: 0.4;
      background: rgba(0,0,0,0.1);
      border-width: 0;
    }
    50% {
      width: 1.7em;
      height: 1.7em;
      background: #D3D3D3;
      border: 0;
      opacity: 0.6;
    }
    100% {
      width: 1.6em;
      height: 1.6em;
      background: #A9A9A9;
      border: 0;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 1200px){

  .container {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h5 {
    margin-top: 3px;
    margin-bottom: 5px;
  }

  .main {
    height: 200px;
  }

  .label__checkbox {
    display: none;
  }

  .label__check {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.2);
    background: white;
    vertical-align: middle;
    width: 1.35em;
    height: 1.35em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
    font-size: 0.8em;
    margin-right: 10px;

    i.icon {
      opacity: 0.2;
      color: transparent;
      transition: opacity .3s .1s ease;
      -webkit-text-stroke: 3px rgba(0,0,0,.5);
    }

    &:hover {
      border: 5px solid rgba(0,0,0,0.2);
    }
  }

  .label__text {
    color: white;
    font-size: 1.05em;
  }

  .label__checkbox:checked + .label__text .label__check {
    animation: check 0.4s cubic-bezier(0, 0, 0, 0) forwards;
    color: white;

    .icon {
      opacity: 1;
      transform: scale(0);
      color: white;
      -webkit-text-stroke: 0;
      animation: icon .2s cubic-bezier(0, 0, 0, 0) 1.5s 1 forwards;
    }
  }

  /* .center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  } */

  @keyframes icon {
    from {
      opacity: 0;
      transform: scale(0.2);
    }
    to {
      opacity: 1;
      transform: scale(1)
    }
  }

  @keyframes check {
    0% {
      border-width: 2px;
    }
    12% {
      opacity: 0.1;
      background: rgba(0,0,0,0.2);
    }
    17% {
      opacity: 0.4;
      background: rgba(0,0,0,0.1);
    }
    25% {
      opacity: 0.4;
      background: rgba(0,0,0,0.1);
      border-width: 0;
    }
    50% {
      width: 1.7em;
      height: 1.7em;
      background: #D3D3D3;
      border: 0;
      opacity: 0.6;
    }
    100% {
      width: 1.6em;
      height: 1.6em;
      background: #A9A9A9;
      border: 0;
      opacity: 1;
    }
  }
}
