.infobox {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 35%;
  top:50%;
  left:50%;
  background: rgba(0, 0, 0, 0.3);
  display: none;

  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


h4 {
  text-align: center;
}
