#map {
  background-image: url('.././images/map3.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.containerForMap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ride, .facility {
  display: none;
}

@media only screen and (max-width: 560px) {
  #map {
    background-image: url('.././images/turnPhone.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 300px;
    height: 300px;
  }
}

#filters {
  display: none;
}

@media only screen and (min-width: 561px){

  #filters {
    position: absolute;
    display: block;
    width: 166px;
    height: 90px;
    bottom: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background: #00aac8;
  }

  #attractionsFilter {
      width: 78px;
      height: 100%;
      padding-left: 5px;
      float: left;
  }

  #facilitiesFilter {
      width: 83px;
      height: 100%;
      float: right;
  }

  #map {
    background-image: url('.././images/map3.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 581px;
    height: 453px;
  }

  #swarm {
    width: 150px;
    height: 55px;
    border-radius: 64px;
    border: 2px solid black;
    margin-top: 35px;
    margin-left: 140px;
    position: absolute;
  }

  #rumbaRapids {
    width: 110px;
    height: 110px;
    border-radius: 74px;
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 140px;
    position: absolute;
  }

  #nemesis {
    width: 70px;
    height: 35px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 170px;
    margin-top: 240px;
    position: absolute;
    transform: rotate(138deg);
  }

  #celebrity {
    width: 50px;
    height: 25px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 208px;
    margin-top: 280px;
    position: absolute;
    transform: rotate(26deg);
  }

  #derrenBrown {
    width: 15px;
    height: 66px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 291px;
    margin-top: 235px;
    position: absolute;
    transform: rotate(203deg);
  }

  #stormSurge {
    width: 15px;
    height: 100px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 330px;
    margin-top: 155px;
    position: absolute;
    transform: rotate(153deg);
  }

  #saw {
    width: 48px;
    height: 65px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 390px;
    margin-top: 325px;
    position: absolute;
    transform: rotate(195deg);
  }

  #stealth {
    width: 125px;
    height: 30px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 126px;
    margin-top: 118px;
    position: absolute;
    transform: rotate(158deg);
  }

  #flyingFish {
    width: 35px;
    height: 25px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 273px;
    margin-top: 89px;
    position: absolute;
    transform: rotate(115deg);
  }

  #rockyExpress {
    width: 10px;
    height: 10px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 331px;
    margin-top: 382px;
    position: absolute;
  }

  #detonator {
    width: 17px;
    height: 17px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 217px;
    margin-top: 217px;
    position: absolute;
  }

  #amityBeach {
    width: 76px;
    height: 25px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 294px;
    margin-top: 122px;
    position: absolute;
    transform: rotate(56deg);
  }

  #wet {
    width: 30px;
    height: 16px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 307px;
    margin-top: 90px;
    position: absolute;
    transform: rotate(72deg);
  }

  #depthCharge {
    width: 68px;
    height: 10px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 308px;
    margin-top: 101px;
    position: absolute;
    transform: rotate(72deg);
  }

  #tidalWave {
    width: 128px;
    height: 23px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 195px;
    margin-top: 138px;
    position: absolute;
    transform: rotate(9deg);
  }

  #stormCup {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 172px;
    margin-top: 169px;
    position: absolute;
  }

  #colossus {
    width: 165px;
    height: 40px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 288px;
    margin-top: 250px;
    position: absolute;
    transform: rotate(111deg);
  }

  #vortex {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 418px;
    margin-top: 132px;
    position: absolute;
  }

  #zodiak {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 405px;
    margin-top: 160px;
    position: absolute;
  }

  #rush {
    width: 08px;
    height: 20px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 384px;
    margin-top: 166px;
    position: absolute;
  }

  #quantum {
    width: 15px;
    height: 15px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 382px;
    margin-top: 143px;
    position: absolute;
  }

  #samuri {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 366px;
    margin-top: 346px;
    position: absolute;
  }

  #angryBirds {
    width: 23px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 190px;
    margin-top: 198px;
    position: absolute;
    transform: rotate(43deg);
  }

  #kingPig {
    width: 15px;
    height: 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 211px;
    margin-top: 160px;
    position: absolute;
    transform: rotate(38deg);
  }

  #monkey {
    width: 20px;
    height: 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 238px;
    margin-top: 275px;
    position: absolute;
    transform: rotate(34deg);
  }

  #livingNightmare {
    width: 35px;
    height: 55px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 313px;
    margin-top: 243px;
    position: absolute;
    transform: rotate(19deg);
  }

  #lumber {
    width: 10px;
    height: 5px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 310px;
    margin-top: 376px;
    position: absolute;
    transform: rotate(107deg);
  }

  #timber {
    width: 27px;
    height: 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 305px;
    margin-top: 395px;
    position: absolute;
    transform: rotate(47deg);
  }

  #kfc {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 248px;
    margin-top: 208px;
    position: absolute;
  }

  #donut {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 260px;
    margin-top: 218px;
    position: absolute;
  }

  #burgerKing {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 173px;
    margin-top: 200px;
    position: absolute;
  }

  #sombrero {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 188px;
    margin-top: 208px;
    position: absolute;
  }

  #amityFish {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 190px;
    margin-top: 148px;
    position: absolute;
  }

    #infernoPizza {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 157px;
      margin-top: 216px;
      position: absolute;
    }

    #nitrogenie {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 250px;
      margin-top: 256px;
      position: absolute;
    }

    #amityKebab {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 317px;
      margin-top: 145px;
      position: absolute;
    }

    #beachShack {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 296px;
      margin-top: 116px;
      position: absolute;
    }

    #colossusSnack {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 335px;
      margin-top: 330px;
      position: absolute;
    }

    #toiletOne {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 229px;
      margin-top: 40px;
      position: absolute;
    }

    #toiletTwo {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 170px;
      margin-top: 223px;
      position: absolute;
    }

    #toiletThree {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 300px;
      margin-top: 344px;
      position: absolute;
    }

    #toiletFour {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 305px;
      margin-top: 213px;
      position: absolute;
    }

    #toiletFive {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 390px;
      margin-top: 115px;
      position: absolute;
    }

    #lockersOne {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 395px;
      margin-top: 125px;
      position: absolute;
    }

    #lockersTwo {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 300px;
      margin-top: 132px;
      position: absolute;
    }

    #lockersThree {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 410px;
      margin-top: 330px;
      position: absolute;
    }

    #lockersFour {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 313px;
      margin-top: 201px;
      position: absolute;
    }

    #guestServices {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 364px;
      margin-top: 115px;
      position: absolute;
    }

    #healthCentre {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 359px;
      margin-top: 106px;
      position: absolute;
    }

    #sawKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 403px;
      margin-top: 320px;
      position: absolute;
    }

    #colossusKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 360px;
      margin-top: 240px;
      position: absolute;
    }

    #infernoKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 215px;
      margin-top: 293px;
      position: absolute;
    }

    #swarmKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 203px;
      margin-top: 60px;
      position: absolute;
    }

    #gate {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 495px;
      margin-top: 72px;
      position: absolute;
    }

}

@media only screen and (min-width: 768px){

  #filters {
    position: absolute;
    display: block;
    width: 265px;
    height: 163px;
    bottom: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background: #00aac8;
  }

  #attractionsFilter {
      width: 128px;
      height: 100%;
      padding-left: 5px;
      float: left;
  }
  #facilitiesFilter {
      width: 132px;
      height: 100%;
      float: right;
  }

  #map {
    background-image: url('.././images/map3.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 768px;
    height: 620px;
  }

  #swarm {
    width: 200px;
    height: 90px;
    border-radius: 64px;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 190px;
    position: absolute;
  }

  #rumbaRapids {
    width: 150px;
    height: 150px;
    border-radius: 74px;
    border: 2px solid black;
    margin-left: 70px;
    margin-top: 190px;
    position: absolute;
  }

  #nemesis {
    width: 105px;
    height: 70px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 223px;
    margin-top: 325px;
    position: absolute;
    transform: rotate(138deg);
  }

  #celebrity {
    width: 60px;
    height: 30px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 288px;
    margin-top: 383px;
    position: absolute;
    transform: rotate(26deg);
  }

  #derrenBrown {
    width: 20px;
    height: 75px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 403px;
    margin-top: 325px;
    position: absolute;
    transform: rotate(203deg);
  }

  #stormSurge {
    width: 30px;
    height: 140px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 448px;
    margin-top: 215px;
    position: absolute;
    transform: rotate(153deg);
  }

  #saw {
    width: 68px;
    height: 85px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 538px;
    margin-top: 445px;
    position: absolute;
  }

  #stealth {
    width: 175px;
    height: 40px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 168px;
    margin-top: 165px;
    position: absolute;
    transform: rotate(158deg);
  }

  #flyingFish {
    width: 55px;
    height: 30px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 372px;
    margin-top: 125px;
    position: absolute;
    transform: rotate(115deg);
  }

  #rockyExpress {
    width: 13px;
    height: 13px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 454px;
    margin-top: 524px;
    position: absolute;
  }

  #detonator {
    width: 17px;
    height: 17px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 300px;
    margin-top: 300px;
    position: absolute;
  }

  #amityBeach {
    width: 90px;
    height: 40px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 422px;
    margin-top: 168px;
    position: absolute;
    transform: rotate(56deg);
  }

  #wet {
    width: 38px;
    height: 24px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 426px;
    margin-top: 123px;
    position: absolute;
    transform: rotate(72deg);
  }

  #depthCharge {
    width: 92px;
    height: 13px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 422px;
    margin-top: 140px;
    position: absolute;
    transform: rotate(72deg);
  }

  #tidalWave {
    width: 158px;
    height: 33px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 275px;
    margin-top: 190px;
    position: absolute;
    transform: rotate(9deg);
  }

  #stormCup {
    width: 25px;
    height: 25px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 238px;
    margin-top: 234px;
    position: absolute;
  }

  #colossus {
    width: 230px;
    height: 60px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 388px;
    margin-top: 346px;
    position: absolute;
    transform: rotate(111deg);
  }

  #vortex {
    width: 30px;
    height: 30px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 570px;
    margin-top: 185px;
    position: absolute;
  }

  #zodiak {
    width: 25px;
    height: 25px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 556px;
    margin-top: 221px;
    position: absolute;
  }

  #rush {
    width: 10px;
    height: 35px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 525px;
    margin-top: 226px;
    position: absolute;
  }

  #quantum {
    width: 18px;
    height: 18px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 524px;
    margin-top: 197px;
    position: absolute;
  }

  #samuri {
    width: 26px;
    height: 26px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 503px;
    margin-top: 475px;
    position: absolute;
  }

  #angryBirds {
    width: 36px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 258px;
    margin-top: 265px;
    position: absolute;
    transform: rotate(43deg);
  }

  #kingPig {
    width: 25px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 288px;
    margin-top: 216px;
    position: absolute;
    transform: rotate(38deg);
  }

  #monkey {
    width: 25px;
    height: 15px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 325px;
    margin-top: 378px;
    position: absolute;
    transform: rotate(34deg);
  }

  #livingNightmare {
    width: 54px;
    height: 85px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 425px;
    margin-top: 333px;
    position: absolute;
    transform: rotate(19deg);
  }

  #lumber {
    width: 18px;
    height: 8px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 423px;
    margin-top: 516px;
    position: absolute;
    transform: rotate(107deg);
  }

  #timber {
    width: 37px;
    height: 14px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 420px;
    margin-top: 540px;
    position: absolute;
    transform: rotate(47deg);
  }

  #kfc {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 340px;
    margin-top: 280px;
    position: absolute;
  }

  #donut {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 365px;
    margin-top: 300px;
    position: absolute;
  }

  #burgerKing {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 237px;
    margin-top: 272px;
    position: absolute;
  }

  #sombrero {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 258px;
    margin-top: 290px;
    position: absolute;
  }

  #amityFish {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 270px;
    margin-top: 205px;
    position: absolute;
  }

    #infernoPizza {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 220px;
      margin-top: 300px;
      position: absolute;
    }

    #nitrogenie {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 350px;
      margin-top: 350px;
      position: absolute;
    }

    #amityKebab {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 430px;
      margin-top: 210px;
      position: absolute;
    }

    #beachShack {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 410px;
      margin-top: 160px;
      position: absolute;
    }

    #colossusSnack {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 455px;
      margin-top: 460px;
      position: absolute;
    }

    #toiletOne {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 320px;
      margin-top: 55px;
      position: absolute;
    }

    #toiletTwo {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 230px;
      margin-top: 310px;
      position: absolute;
    }

    #toiletThree {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 415px;
      margin-top: 473px;
      position: absolute;
    }

    #toiletFour {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 417px;
      margin-top: 295px;
      position: absolute;
    }

    #toiletFive {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 530px;
      margin-top: 165px;
      position: absolute;
    }

    #lockersOne {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 535px;
      margin-top: 175px;
      position: absolute;
    }

    #lockersTwo {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 415px;
      margin-top: 185px;
      position: absolute;
    }

    #lockersThree {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 560px;
      margin-top: 450px;
      position: absolute;
    }

    #lockersFour {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 430px;
      margin-top: 281px;
      position: absolute;
    }

    #guestServices {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 503px;
      margin-top: 160px;
      position: absolute;
    }

    #healthCentre {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 499px;
      margin-top: 150px;
      position: absolute;
    }

    #sawKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 553px;
      margin-top: 440px;
      position: absolute;
    }

    #colossusKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 495px;
      margin-top: 340px;
      position: absolute;
    }

    #infernoKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 305px;
      margin-top: 400px;
      position: absolute;
    }

    #swarmKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 275px;
      margin-top: 80px;
      position: absolute;
    }

    #gate {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 675px;
      margin-top: 100px;
      position: absolute;
    }

}

@media only screen and (min-width: 1200px){

  #filters {
    position: absolute;
    display: block;
    width: 380px;
    height: 205px;
    bottom: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background: #00aac8;
  }

  #attractionsFilter {
      width: 185px;
      padding-left: 5px;
      height: 100%;
      float: left;
  }
  #facilitiesFilter {
      width: 190px;
      height: 100%;
      float: right;
  }

  #map {
    background-image: url('.././images/map3.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 1200px;
    height: 970px;
  }

  #swarm {
    width: 240px;
    height: 120px;
    border-radius: 64px;
    border: 2px solid black;
    margin-top: 70px;
    margin-left: 310px;
    position: absolute;
  }

  #rumbaRapids {
    width: 200px;
    height: 200px;
    border-radius: 94px;
    border: 2px solid black;
    margin-left: 125px;
    margin-top: 320px;
    position: absolute;
  }

  #nemesis {
    width: 185px;
    height: 80px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 320px;
    margin-top: 520px;
    position: absolute;
    transform: rotate(358deg);
  }

  #celebrity {
    width: 90px;
    height: 40px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 460px;
    margin-top: 605px;
    position: absolute;
    transform: rotate(26deg);
  }

  #derrenBrown {
    width: 30px;
    height: 115px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 630px;
    margin-top: 515px;
    position: absolute;
    transform: rotate(203deg);
  }

  #stormSurge {
    width: 35px;
    height: 220px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 710px;
    margin-top: 338px;
    position: absolute;
    transform: rotate(153deg);
  }

  #saw {
    width: 110px;
    height: 155px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 838px;
    margin-top: 700px;
    position: absolute;
  }

  #stealth {
    width: 270px;
    height: 60px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 260px;
    margin-top: 260px;
    position: absolute;
    transform: rotate(158deg);
  }

  #flyingFish {
    width: 80px;
    height: 40px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 587px;
    margin-top: 197px;
    position: absolute;
    transform: rotate(115deg);
  }

  #rockyExpress {
    width: 17px;
    height: 17px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 714px;
    margin-top: 824px;
    position: absolute;
  }

  #detonator {
    width: 25px;
    height: 25px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 470px;
    margin-top: 470px;
    position: absolute;
  }

  #amityBeach {
    width: 150px;
    height: 70px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 640px;
    margin-top: 260px;
    position: absolute;
    transform: rotate(deg);
  }

  #wet {
    width: 65px;
    height: 35px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 665px;
    margin-top: 190px;
    position: absolute;
    transform: rotate(72deg);
  }

  #depthCharge {
    width: 152px;
    height: 22px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 654px;
    margin-top: 214px;
    position: absolute;
    transform: rotate(72deg);
  }

  #tidalWave {
    width: 225px;
    height: 63px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 436px;
    margin-top: 295px;
    position: absolute;
    transform: rotate(9deg);
  }

  #stormCup {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 373px;
    margin-top: 367px;
    position: absolute;
  }

  #colossus {
    width: 350px;
    height: 75px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 616px;
    margin-top: 545px;
    position: absolute;
    transform: rotate(111deg);
  }

  #vortex {
    width: 35px;
    height: 35px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 900px;
    margin-top: 295px;
    position: absolute;
  }

  #zodiak {
    width: 33px;
    height: 33px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 875px;
    margin-top: 350px;
    position: absolute;
  }

  #rush {
    width: 15px;
    height: 55px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 824px;
    margin-top: 356px;
    position: absolute;
  }

  #quantum {
    width: 30px;
    height: 30px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 818px;
    margin-top: 308px;
    position: absolute;
  }

  #samuri {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    border: 2px solid black;
    margin-left: 789px;
    margin-top: 746px;
    position: absolute;
  }

  #angryBirds {
    width: 46px;
    height: 25px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 412px;
    margin-top: 420px;
    position: absolute;
    transform: rotate(43deg);
  }

  #kingPig {
    width: 35px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 455px;
    margin-top: 339px;
    position: absolute;
    transform: rotate(38deg);
  }

  #monkey {
    width: 35px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 513px;
    margin-top: 591px;
    position: absolute;
    transform: rotate(34deg);
  }

  #livingNightmare {
    width: 84px;
    height: 115px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 670px;
    margin-top: 530px;
    position: absolute;
    transform: rotate(20deg);
  }

  #lumber {
    width: 27px;
    height: 12px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 663px;
    margin-top: 809px;
    position: absolute;
    transform: rotate(107deg);
  }

  #timber {
    width: 67px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 660px;
    margin-top: 848px;
    position: absolute;
    transform: rotate(47deg);
  }

  #kfc {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 529px;
    margin-top: 458px;
    position: absolute;
  }

  #donut {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 565px;
    margin-top: 485px;
    position: absolute;
  }

  #burgerKing {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 377px;
    margin-top: 432px;
    position: absolute;
  }

  #sombrero {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 408px;
    margin-top: 458px;
    position: absolute;
  }

  #amityFish {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 2px solid black;
    margin-left: 425px;
    margin-top: 310px;
    position: absolute;
  }

    #infernoPizza {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 340px;
      margin-top: 470px;
      position: absolute;
    }

    #nitrogenie {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 552px;
      margin-top: 546px;
      position: absolute;
    }

    #amityKebab {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 660px;
      margin-top: 310px;
      position: absolute;
    }

    #beachShack {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 642px;
      margin-top: 240px;
      position: absolute;
    }

    #colossusSnack {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 696px;
      margin-top: 725px;
      position: absolute;
    }

    #toiletOne {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 510px;
      margin-top: 95px;
      position: absolute;
    }

    #toiletTwo {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 355px;
      margin-top: 480px;
      position: absolute;
    }

    #toiletThree {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 650px;
      margin-top: 740px;
      position: absolute;
    }

    #toiletFour {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 655px;
      margin-top: 463px;
      position: absolute;
    }

    #toiletFive {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 850px;
      margin-top: 255px;
      position: absolute;
    }

    #lockersOne {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 855px;
      margin-top: 265px;
      position: absolute;
    }

    #lockersTwo {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 649px;
      margin-top: 292px;
      position: absolute;
    }

    #lockersThree {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 890px;
      margin-top: 710px;
      position: absolute;
    }

    #lockersFour {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 678px;
      margin-top: 441px;
      position: absolute;
    }

    #guestServices {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 793px;
      margin-top: 255px;
      position: absolute;
    }

    #healthCentre {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 789px;
      margin-top: 240px;
      position: absolute;
    }

    #sawKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 870px;
      margin-top: 715px;
      position: absolute;
    }

    #colossusKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 780px;
      margin-top: 490px;
      position: absolute;
    }

    #infernoKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 475px;
      margin-top: 620px;
      position: absolute;
    }

    #swarmKiosk {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 425px;
      margin-top: 120px;
      position: absolute;
    }

    #gate {
      width: 10px;
      height: 10px;
      border-radius: 40px;
      border: 2px solid black;
      margin-left: 1060px;
      margin-top: 160px;
      position: absolute;
    }


}
