#map {
  background-image: url('.././images/map3.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

#attractionsAndFacilities > div {
  opacity: 0.75;
}

#attractionsAndFacilities:hover > div {
  opacity: 0.5;
}

#attractionsAndFacilities:hover > div:hover {
  opacity: 1.0;
}

.containerForMap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ride, .facility {
  display: none;
}

.titleLogo {
  width: 200px;
  height: 100%;
}

#titleHolder {
  width: 100%;
}

@media only screen and (max-width: 560px) {
  #map {
    background-image: url('.././images/turnPhone.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 300px;
    height: 300px;
  }

  img {
    display: none;
  }

  .titleLogo {

    width: 200px;
    height: 100%;
  }
}

#filters {
  display: none;
}

@media only screen and (min-width: 561px){

  #filters {
    position: absolute;
    display: block;
    width: 166px;
    height: 90px;
    bottom: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background: #00aac8;
  }

  #attractionsFilter {
      width: 78px;
      height: 100%;
      padding-left: 5px;
      float: left;
  }

  #facilitiesFilter {
      width: 83px;
      height: 100%;
      float: right;
  }

  #map {
    background-image: url('.././images/map3.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 581px;
    height: 453px;
  }

  #swarm {
    width: 150px;
    height: 55px;
    border-radius: 64px;
    margin-top: 35px;
    margin-left: 140px;
    position: absolute;
  }

  #swarm img {
    width: 150px;
    height: 55px;
    border-radius: 64px;
  }

  #rumbaRapids {
    width: 110px;
    height: 110px;
    border-radius: 74px;
    margin-left: 50px;
    margin-top: 140px;
    position: absolute;
  }

  #rumbaRapids img {
    width: 110px;
    height: 110px;
    border-radius: 74px;
  }

  #nemesis {
    width: 60px;
    height: 35px;
    border-radius: 90px;
    margin-left: 170px;
    margin-top: 240px;
    position: absolute;
    transform: rotate(138deg);
  }

  #nemesis img {
    width: 70px;
    height: 45px;
    margin-left: 10px;
    border-radius: 90px;
    transform: rotate(220deg);
  }

  .titleLogo {

    width: 200px;
    height: 100%;
  }

  #celebrity {
    width: 50px;
    height: 25px;
    border-radius: 90px;
    margin-left: 208px;
    margin-top: 280px;
    position: absolute;
    transform: rotate(26deg)
  }

  #celebrity img {
    width: 40px;
    height: 25px;
    border-radius: 90px;
    transform: rotate(0deg);
  }

  #derrenBrown {
    width: 25px;
    height: 66px;
    border-radius: 90px;
    margin-left: 291px;
    margin-top: 235px;
    position: absolute;
    transform: rotate(203deg);
  }

  #derrenBrown img {
    width: 25px;
    height: 35px;
    margin-top: 10px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #stormSurge {
    width: 25px;
    height: 100px;
    border-radius: 90px;
    margin-left: 330px;
    margin-top: 155px;
    position: absolute;
    transform: rotate(153deg);
  }

  #stormSurge img {
    width: 40px;
    height: 35px;
    border-radius: 90px;
    margin-top: 15px;
    transform: rotate(10deg);
  }

  #saw {
    width: 48px;
    height: 65px;
    border-radius: 90px;
    margin-left: 390px;
    margin-top: 325px;
    position: absolute;
    transform: rotate(195deg);
  }

  #saw img {
    width: 48px;
    height: 65px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #stealth {
    width: 125px;
    height: 30px;
    border-radius: 90px;
    margin-left: 126px;
    margin-top: 118px;
    position: absolute;
    transform: rotate(158deg);
  }

  #stealth img {
    width: 125px;
    height: 30px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #flyingFish {
    width: 35px;
    height: 25px;
    border-radius: 90px;
    margin-left: 273px;
    margin-top: 89px;
    position: absolute;
    transform: rotate(115deg);
  }

  #flyingFish img {
    width: 35px;
    height: 25px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #rockyExpress {
    width: 10px;
    height: 10px;
    border-radius: 90px;
    margin-left: 331px;
    margin-top: 382px;
    position: absolute;
  }

  #rockyExpress img {
    width: 25px;
    height: 25px;
    border-radius: 90px;
  }

  #detonator {
    width: 17px;
    height: 17px;
    border-radius: 90px;
    margin-left: 217px;
    margin-top: 217px;
    position: absolute;
  }

  #detonator img {
    width: 25px;
    height: 25px;
    border-radius: 90px;
  }

  #amityBeach {
    width: 76px;
    height: 25px;
    border-radius: 90px;
    margin-left: 294px;
    margin-top: 122px;
    position: absolute;
    transform: rotate(56deg)
  }

  #amityBeach img {
    width: 35px;
    height: 35px;
    border-radius: 90px;
    margin-left: 45px;
    transform: rotate(310deg);
  }

  #wet {
    width: 30px;
    height: 16px;
    border-radius: 90px;
    margin-left: 307px;
    margin-top: 90px;
    position: absolute;
    transform: rotate(72deg)
  }

  #wet img {
    width: 30px;
    height: 25px;
    border-radius: 90px;
    transform: rotate(290deg);
  }

  #depthCharge {
    width: 68px;
    height: 10px;
    border-radius: 90px;
    margin-left: 308px;
    margin-top: 101px;
    position: absolute;
    transform: rotate(72deg)
  }

  #depthCharge img {
    width: 35px;
    height: 35px;
    border-radius: 90px;
    margin-left: 30px;
    transform: rotate(290deg);
  }

  #tidalWave {
    width: 128px;
    height: 23px;
    border-radius: 90px;
    margin-left: 195px;
    margin-top: 138px;
    position: absolute;
    transform: rotate(9deg);
  }

  #tidalWave img {
    width: 65px;
    height: 25px;
    border-radius: 90px;
    transform: rotate(0deg);
  }

  #stormCup {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    margin-left: 172px;
    margin-top: 169px;
    position: absolute;
  }

  #stormCup img {
    width: 20px;
    height: 20px;
    border-radius: 90px;
  }

  #colossus {
    width: 165px;
    height: 40px;
    border-radius: 90px;
    margin-left: 288px;
    margin-top: 250px;
    position: absolute;
    transform: rotate(111deg);
  }

  #colossus img {
    width: 95px;
    height: 40px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #vortex {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    margin-left: 418px;
    margin-top: 132px;
    position: absolute;
  }

  #vortex img {
    width: 25px;
    height: 25px;
    border-radius: 90px;
  }

  #zodiac {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    margin-left: 405px;
    margin-top: 160px;
    position: absolute;
  }

  #zodiac img {
    width: 25px;
    height: 25px;
    border-radius: 90px
  }

  #rush {
    width: 25px;
    height: 25px;
    border-radius: 90px;
    margin-left: 378px;
    margin-top: 166px;
    position: absolute;
  }

  #rush img {
    width: 25px;
    height: 25px;
    border-radius: 90px;
  }

  #quantum {
    width: 25px;
    height: 25px;
    border-radius: 90px;
    margin-left: 382px;
    margin-top: 138px;
    position: absolute;
  }

  #quantum img {
    width: 25px;
    height: 25px;
    border-radius: 90px;
  }

  #samurai {
    width: 25px;
    height: 25px;
    border-radius: 90px;
    margin-left: 360px;
    margin-top: 346px;
    position: absolute;
  }

  #samurai img {
    width: 25px;
    height: 25px;
    border-radius: 90px;
  }

  #angryBirds {
    width: 23px;
    height: 10px;
    border-radius: 10px;
    margin-left: 190px;
    margin-top: 208px;
    position: absolute;
    transform: rotate(200deg);
  }

  #angryBirds img {
    width: 25px;
    height: 25px;
    border-radius: 40px;
    transform: rotate(160deg);
  }

  #kingPig {
    width: 15px;
    height: 10px;
    border-radius: 20px;
    margin-left: 211px;
    margin-top: 155px;
    position: absolute;
    transform: rotate(38deg)
  }

  #kingPig img {
    width: 25px;
    height: 25px;
    border-radius: 20px;
  }

  #monkey {
    width: 20px;
    height: 10px;
    border-radius: 20px;
    margin-left: 238px;
    margin-top: 273px;
    position: absolute;
    transform: rotate(34deg)
  }

  #monkey img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(330deg);
  }

  #livingNightmare {
    width: 35px;
    height: 55px;
    border-radius: 20px;
    margin-left: 313px;
    margin-top: 243px;
    position: absolute;
    transform: rotate(19deg)
  }

  #livingNightmare img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    border-radius: 20px;
    transform: rotate(320deg);
  }

  #lumber {
    width: 10px;
    height: 5px;
    border-radius: 20px;
    margin-left: 315px;
    margin-top: 370px;
    position: absolute;
    transform: rotate(107deg);
  }

  #lumber img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(260deg);
  }

  #timber {
    width: 27px;
    height: 10px;
    border-radius: 20px;
    margin-left: 305px;
    margin-top: 395px;
    position: absolute;
    transform: rotate(47deg)
  }

  #timber img {
    width: 27px;
    height: 27px;
    border-radius: 20px;
    transform: rotate(320deg);
  }

  #kfc {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 248px;
    margin-top: 208px;
    position: absolute;
  }

  #kfc img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #donut {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 260px;
    margin-top: 218px;
    position: absolute;
  }

  #donut img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #burgerKing {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 173px;
    margin-top: 200px;
    position: absolute;
  }

  #burgerKing img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #sombrero {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 188px;
    margin-top: 208px;
    position: absolute;
  }

  #sombrero img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #amityFish {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 190px;
    margin-top: 148px;
    position: absolute;
  }

  #amityFish img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  `#infernoPizza {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 157px;
    margin-top: 216px;
    position: absolute;
  }

  #infernoPizza img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #nitrogenie {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 250px;
    margin-top: 256px;
    position: absolute;
  }

  #nitrogenie img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #amityKebab {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 317px;
    margin-top: 145px;
    position: absolute;
  }

  #amityKebab img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #beachShack {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 296px;
    margin-top: 116px;
    position: absolute;
  }

  #beachShack img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #colossusSnack {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 335px;
    margin-top: 330px;
    position: absolute;
  }

  #colossusSnack img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletOne {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 229px;
    margin-top: 40px;
    position: absolute;
  }

  #toiletOne img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletTwo {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 170px;
    margin-top: 223px;
    position: absolute;
  }

  #toiletTwo img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletThree {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 300px;
    margin-top: 344px;
    position: absolute;
  }

  #toiletThree img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletFour {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 305px;
    margin-top: 213px;
    position: absolute;
  }

  #toiletFour img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletFive {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 390px;
    margin-top: 115px;
    position: absolute;
  }

  #toiletFive img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersOne {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 395px;
    margin-top: 125px;
    position: absolute;
  }

  #lockersOne img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersTwo {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 300px;
    margin-top: 132px;
    position: absolute;
  }

  #lockersTwo img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersThree {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 410px;
    margin-top: 330px;
    position: absolute;
  }

  #lockersThree img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersFour {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 313px;
    margin-top: 201px;
    position: absolute;
  }

  #lockersFour img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #guestServices {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 364px;
    margin-top: 115px;
    position: absolute;
  }

  #guestServices img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #healthCentre {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 359px;
    margin-top: 106px;
    position: absolute;
  }

  #healthCentre img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #sawKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 403px;
    margin-top: 320px;
    position: absolute;
  }

  #sawKiosk img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #colossusKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 360px;
    margin-top: 240px;
    position: absolute;
  }

  #colossusKiosk img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #infernoKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 215px;
    margin-top: 293px;
    position: absolute;
  }

  #infernoKiosk img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #swarmKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 203px;
    margin-top: 60px;
    position: absolute;
  }

  #swarmKiosk img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #gate {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 495px;
    margin-top: 72px;
    position: absolute;
  }

  #gate img {
    width: 40px;
    height: 20px;
    border-radius: 20px;
    transform: rotate(0deg);
    background-color: red;

  }

  .titleLogo {

    width: 200px;
    height: 100%;
  }
}

@media only screen and (min-width: 768px){

  #filters {
    position: absolute;
    display: block;
    width: 265px;
    height: 163px;
    bottom: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background: #00aac8;
  }

  #attractionsFilter {
      width: 128px;
      height: 100%;
      padding-left: 5px;
      float: left;
  }

  #facilitiesFilter {
      width: 132px;
      height: 100%;
      float: right;
  }

  #map {
    background-image: url('.././images/map3.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 768px;
    height: 620px;
  }

  #swarm {
    width: 200px;
    height: 90px;
    border-radius: 64px;
    margin-top: 40px;
    margin-left: 190px;
    position: absolute;
    border: 1px solid;
  }

  #swarm img {
    width: 200px;
    height: 90px;
    border-radius: 64px;
  }

  #rumbaRapids {
    width: 150px;
    height: 150px;
    border-radius: 74px;
    margin-left: 70px;
    margin-top: 190px;
    position: absolute;
  }

  #rumbaRapids img {
    width: 150px;
    height: 150px;
    border-radius: 74px;
  }

  #nemesis {
    width: 95px;
    height: 70px;
    border-radius: 90px;
    margin-left: 220px;
    margin-top: 325px;
    position: absolute;
    transform: rotate(138deg);
  }

  #nemesis img {
    width: 120px;
    height: 70px;
    border-radius: 90px;
    margin-top: 10px;
    transform: rotate(223deg);
  }

  #celebrity {
    width: 60px;
    height: 30px;
    border-radius: 90px;
    margin-left: 288px;
    margin-top: 383px;
    position: absolute;
    transform: rotate(26deg);
  }

  #celebrity img {
    width: 55px;
    height: 35px;
    border-radius: 90px;
    margin-right: 5px;
    transform: rotate(346deg)
  }

  #derrenBrown {
    width: 20px;
    height: 75px;
    border-radius: 90px;
    margin-left: 403px;
    margin-top: 325px;
    position: absolute;
    transform: rotate(203deg);
  }

  #derrenBrown img {
    width: 43px;
    height: 43px;
    margin-top: 10px;
    border-radius: 15px;
    transform: rotate(180deg);
  }

  #stormSurge {
    width: 30px;
    height: 140px;
    border-radius: 90px;
    margin-left: 448px;
    margin-top: 215px;
    position: absolute;
    transform: rotate(153deg);
  }

  #stormSurge img {
    width: 50px;
    height: 40px;
    border-radius: 90px;
    margin-top: 25px;
    transform: rotate(200deg);
  }

  #saw {
    width: 68px;
    height: 85px;
    border-radius: 90px;
    margin-left: 538px;
    margin-top: 445px;
    position: absolute;
  }

  #saw img {
    width: 68px;
    height: 85px;
    border-radius: 90px;
  }

  #stealth {
    width: 175px;
    height: 40px;
    border-radius: 90px;
    margin-left: 168px;
    margin-top: 165px;
    position: absolute;
    transform: rotate(158deg);
  }

  #stealth img {
    width: 175px;
    height: 40px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #flyingFish {
    width: 55px;
    height: 30px;
    border-radius: 90px;
    margin-left: 372px;
    margin-top: 125px;
    position: absolute;
    transform: rotate(115deg);
  }

  #flyingFish img {
    width: 55px;
    height: 30px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #rockyExpress {
    width: 13px;
    height: 13px;
    border-radius: 90px;
    margin-left: 454px;
    margin-top: 524px;
    position: absolute;
  }

  #rockyExpress img {
    width: 30px;
    height: 30px;
    border-radius: 90px;
  }

  #detonator {
    width: 17px;
    height: 17px;
    border-radius: 90px;
    margin-left: 300px;
    margin-top: 300px;
    position: absolute;
  }

  #detonator img {
    width: 30px;
    height: 30px;
    border-radius: 90px;
  }

  #amityBeach {
    width: 90px;
    height: 40px;
    border-radius: 90px;
    margin-left: 422px;
    margin-top: 168px;
    position: absolute;
    transform: rotate(56deg)
  }

  #amityBeach img {
    width: 55px;
    height: 55px;
    margin-left: 40px;
    border-radius: 90px;
    transform: rotate(300deg);
  }

  #wet {
    width: 38px;
    height: 24px;
    border-radius: 90px;
    margin-left: 426px;
    margin-top: 123px;
    position: absolute;
    transform: rotate(72deg)
  }

  #wet img {
    width: 35px;
    height: 30px;
    border-radius: 90px;
    transform: rotate(280deg);
  }

  #depthCharge {
    width: 92px;
    height: 13px;
    border-radius: 90px;
    margin-left: 422px;
    margin-top: 140px;
    position: absolute;
    transform: rotate(72deg)
  }

  #depthCharge img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    border-radius: 90px;
    transform: rotate(280deg);
  }

  #tidalWave {
    width: 158px;
    height: 33px;
    border-radius: 90px;
    margin-left: 275px;
    margin-top: 190px;
    position: absolute;
    transform: rotate(9deg);
  }

  #tidalWave img {
    width: 98px;
    height: 38px;
    border-radius: 90px;
    transform: rotate(0deg);
  }

  #stormCup {
    width: 25px;
    height: 25px;
    border-radius: 90px;
    margin-left: 238px;
    margin-top: 234px;
    position: absolute;
  }

  #stormCup img {
    width: 30px;
    height: 30px;
    border-radius: 90px;
  }

  #colossus {
    width: 230px;
    height: 60px;
    border-radius: 90px;
    margin-left: 388px;
    margin-top: 346px;
    position: absolute;
    transform: rotate(111deg);
  }

  #colossus img {
    width: 150px;
    height: 60px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #vortex {
    width: 30px;
    height: 30px;
    border-radius: 90px;
    margin-left: 570px;
    margin-top: 185px;
    position: absolute;
  }

  #vortex img {
    width: 35px;
    height: 35px;
    border-radius: 90px;
  }

  #zodiac {
    width: 25px;
    height: 25px;
    border-radius: 90px;
    margin-left: 556px;
    margin-top: 221px;
    position: absolute;
  }

  #zodiac img {
    width: 35px;
    height: 35px;
    border-radius: 90px;
  }

  #rush {
    width: 35px;
    height: 35px;
    border-radius: 90px;
    margin-left: 515px;
    margin-top: 224px;
    position: absolute;
  }

  #rush img {
    width: 35px;
    height: 35px;
    border-radius: 90px;
  }

  #quantum {
    width: 35px;
    height: 35px;
    border-radius: 90px;
    margin-left: 520px;
    margin-top: 188px;
    position: absolute;
  }

  #quantum img {
    width: 35px;
    height: 35px;
    border-radius: 90px;
  }

  #samurai {
    width: 35px;
    height: 35px;
    border-radius: 90px;
    margin-left: 495px;
    margin-top: 473px;
    position: absolute;
  }

  #samurai img {
    width: 35px;
    height: 35px;
    border-radius: 90px;
  }

  #angryBirds {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-left: 260px;
    margin-top: 263px;
    position: absolute;
    transform: rotate(43deg);
  }

  #angryBirds img {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    transform: rotate(315deg);
  }

  #kingPig {
    width: 25px;
    height: 20px;
    border-radius: 20px;
    margin-left: 288px;
    margin-top: 213px;
    position: absolute;
    transform: rotate(38deg)
  }

  #kingPig img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }

  #monkey {
    width: 25px;
    height: 15px;
    border-radius: 20px;
    margin-left: 325px;
    margin-top: 373px;
    position: absolute;
    transform: rotate(34deg)
  }

  #monkey img {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    transform: rotate(330deg);
  }

  #livingNightmare {
    width: 54px;
    height: 85px;
    border-radius: 20px;
    margin-left: 425px;
    margin-top: 333px;
    position: absolute;
    transform: rotate(19deg)
  }

  #livingNightmare img {
    width: 54px;
    height: 54px;
    border-radius: 20px;
    margin-top: 15px;
    transform: rotate(350deg);
  }

  #lumber {
    width: 18px;
    height: 8px;
    border-radius: 20px;
    margin-left: 423px;
    margin-top: 510px;
    position: absolute;
    transform: rotate(107deg);
  }

    #lumber img {
      width: 35px;
      height: 35px;
      border-radius: 20px;
      transform: rotate(257deg);
    }

  #timber {
    width: 37px;
    height: 14px;
    border-radius: 20px;
    margin-left: 420px;
    margin-top: 540px;
    position: absolute;
    transform: rotate(47deg);
  }

  #timber img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(320deg);
  }

  #kfc {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 340px;
    margin-top: 280px;
    position: absolute;
  }

  #kfc img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #donut {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 365px;
    margin-top: 300px;
    position: absolute;
  }

  #donut img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #burgerKing {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 237px;
    margin-top: 272px;
    position: absolute;
  }

  #burgerKing img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #sombrero {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 258px;
    margin-top: 290px;
    position: absolute;
  }

  #sombrero img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #amityFish {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 270px;
    margin-top: 205px;
    position: absolute;
  }

  #amityFish img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #infernoPizza {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 220px;
    margin-top: 300px;
    position: absolute;
  }

  #infernoPizza img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #nitrogenie {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 350px;
    margin-top: 350px;
    position: absolute;
  }

  #nitrogenie img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #amityKebab {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 430px;
    margin-top: 210px;
    position: absolute;
  }

  #amityKebab img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #beachShack {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 410px;
    margin-top: 160px;
    position: absolute;
  }

  #beachShack img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #colossusSnack {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 455px;
    margin-top: 460px;
    position: absolute;
  }

  #colossusSnack img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletOne {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 320px;
    margin-top: 55px;
  }

    #celebrity {
    width: 90px;
    height: 40px;
    border-radius: 90px;
    margin-left: 460px;
    margin-top: 610px;
    position: absolute;
  }

  #toiletOne img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #celebrity img {
    width: 90px;
    height: 40px;
    border-radius: 90px;
    transform: rotate(0deg)
  }

  #toiletTwo {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 230px;
    margin-top: 310px;
    position: absolute;
  }


  #derrenBrown img {
    width: 65px;
    height: 65px;
    border-radius: 25px;
    margin-top: 25px;
    transform: rotate(160deg);
  }

  #stormSurge {
    width: 45px;
    height: 220px;
    border-radius: 90px;
    margin-left: 710px;
    margin-top: 338px;
    position: absolute;
  }

  #toiletTwo img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletThree {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 415px;
    margin-top: 473px;
  }




  #stormSurge img {
    margin-top: 40px;
    width: 85px;
    height: 70px;
    border-radius: 90px;
    transform: rotate(200deg);
  }

  #toiletThree img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletFour {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 417px;
    margin-top: 295px;
    position: absolute;
  }

  #toiletFour img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletFive {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 530px;
    margin-top: 165px;
    position: absolute;
  }

  #toiletFive img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersOne {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 535px;
    margin-top: 175px;
    position: absolute;
  }

  #lockersOne img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersTwo {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 415px;
    margin-top: 185px;
    position: absolute;
  }


  #rockyExpress img {
    width: 40px;
    height: 40px;
    border-radius: 90px;
  }

  #lockersTwo img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);

  }

  #lockersThree {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 560px;
    margin-top: 450px;
    position: absolute;
  }

  #detonator img {
    width: 45px;
    height: 45px;
    border-radius: 90px;
  }

  #lockersThree img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersFour {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 430px;
    margin-top: 281px;
    position: absolute;
  }


  #amityBeach img {
    width: 75px;
    height: 75px;
    border-radius: 90px;
    transform: rotate(305deg);
  }

  #wet {
    width: 75px;
    height: 35px;
    border-radius: 90px;
    margin-left: 663px;
    margin-top: 185px;
    position: absolute;
    transform: rotate(72deg);
  }

  #wet img {
    width: 45px;
    height: 40px;
    border-radius: 90px;
    margin-right: 80px;
    transform: rotate(300deg)
  }

  #depthCharge {
    width: 152px;
    height: 35px;
    border-radius: 90px;
    margin-left: 664px;
    margin-top: 214px;
    position: absolute;
    transform: rotate(72deg);
  }

  #depthCharge img {
    width: 65px;
    height: 65px;
    border-radius: 90px;
    margin-right: 10px;
    transform: rotate(280deg);
  }
  #lockersFour img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #guestServices {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 503px;
    margin-top: 160px;
    position: absolute;
  }

  #guestServices img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #healthCentre {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 499px;
    margin-top: 150px;
    position: absolute;
  }

  #healthCentre img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #sawKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 553px;
    margin-top: 440px;
    position: absolute;
  }

  #sawKiosk img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #colossusKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 495px;
    margin-top: 340px;
    position: absolute;
  }

  #colossusKiosk img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #infernoKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 305px;
    margin-top: 400px;
    position: absolute;
  }

  #infernoKiosk img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #swarmKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 275px;
    margin-top: 80px;
    position: absolute;
  }

  #swarmKiosk img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #gate {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 675px;
    margin-top: 100px;
    position: absolute;
  }

  #gate img {
    width: 60px;
    height: 30px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  .titleLogo {

    width: 200px;
    height: 100%;
  }

}

@media only screen and (min-width: 1200px){

  #filters {
    position: absolute;
    display: block;
    width: 380px;
    height: 205px;
    bottom: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background: #00aac8;
  }

  #attractionsFilter {
      width: 185px;
      padding-left: 5px;
      height: 100%;
      float: left;
  }

  #facilitiesFilter {
      width: 190px;
      height: 100%;
      float: right;
  }

  #map {
    background-image: url('.././images/map3.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 1200px;
    height: 970px;
  }

  #swarm {
    width: 240px;
    height: 120px;
    border-radius: 64px;
    margin-top: 70px;
    margin-left: 310px;
    position: absolute;
  }

  #swarm img {
    width: 240px;
    height: 120px;
    border-radius: 64px;
  }

  #rumbaRapids {
    width: 200px;
    height: 200px;
    border-radius: 94px;
    margin-left: 125px;
    margin-top: 320px;
    position: absolute;
  }

  #rumbaRapids img {
    width: 200px;
    height: 200px;
    border-radius: 94px;
  }

  #nemesis {
    width: 185px;
    height: 80px;
    border-radius: 90px;
    margin-left: 320px;
    margin-top: 520px;
    position: absolute;
    transform: rotate(358deg);
  }


  #tidalWave img {
    width: 180px;
    height: 63px;
    border-radius: 90px;
    transform: rotate(0deg);
  }

  #nemesis img {
    width: 185px;
    height: 80px;
    border-radius: 90px;
    transform: rotate(0deg);
  }

  #celebrity {
    width: 90px;
    height: 40px;
    border-radius: 90px;
    margin-left: 460px;
    margin-top: 605px;
    position: absolute;
    transform: rotate(26deg)
  }

  #celebrity img {
    width: 90px;
    height: 40px;
    border-radius: 90px;
  }

  #derrenBrown {
    width: 30px;
    height: 115px;
    border-radius: 90px;
    margin-left: 630px;
    margin-top: 515px;
    position: absolute;
    transform: rotate(203deg);
  }

  #derrenBrown img {
    width: 30px;
    height: 115px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #stormSurge {
    width: 35px;
    height: 220px;
    border-radius: 90px;
    margin-left: 710px;
    margin-top: 338px;
    position: absolute;
    transform: rotate(153deg);
  }

  #stormSurge img {
    margin-bottom: 100px;
    width: 50px;
    height: 70px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #saw {
    width: 110px;
    height: 155px;
    border-radius: 90px;
    margin-left: 838px;
    margin-top: 700px;
    position: absolute;
  }

  #saw img {
    width: 110px;
    height: 155px;
    border-radius: 90px;
  }

  #stealth {
    width: 270px;
    height: 60px;
    border-radius: 90px;
    margin-left: 260px;
    margin-top: 260px;
    position: absolute;
    transform: rotate(158deg);
  }

  #stealth img {
    width: 270px;
    height: 60px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #flyingFish {
    width: 80px;
    height: 40px;
    border-radius: 90px;
    margin-left: 587px;
    margin-top: 197px;
    position: absolute;
    transform: rotate(115deg);
  }

  #flyingFish img {
    width: 80px;
    height: 40px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #rockyExpress {
    width: 17px;
    height: 17px;
    border-radius: 90px;
    margin-left: 714px;
    margin-top: 824px;
    position: absolute;
  }

  #rockyExpress img {
    width: 17px;
    height: 17px;
    border-radius: 90px;
  }

  #detonator {
    width: 25px;
    height: 25px;
    border-radius: 90px;
    margin-left: 470px;
    margin-top: 470px;
    position: absolute;
  }

  #detonator img {
    width: 25px;
    height: 25px;
    border-radius: 90px;
  }

  #amityBeach {
    width: 150px;
    height: 70px;
    border-radius: 90px;
    margin-left: 640px;
    margin-top: 260px;
    position: absolute;
  }

  #amityBeach img {
    width: 150px;
    height: 70px;
    border-radius: 90px;
  }

  #wet {
    width: 65px;
    height: 35px;
    border-radius: 90px;
    margin-left: 665px;
    margin-top: 190px;
    position: absolute;
    transform: rotate(72deg)
  }

  #wet img {
    width: 65px;
    height: 35px;
    border-radius: 90px;
  }

  #depthCharge {
    width: 152px;
    height: 22px;
    border-radius: 90px;
    margin-left: 654px;
    margin-top: 214px;
    position: absolute;
    transform: rotate(72deg)
  }

  #depthCharge img {
    width: 152px;
    height: 22px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #tidalWave {
    width: 225px;
    height: 63px;
    border-radius: 90px;
    margin-left: 436px;
    margin-top: 295px;
    position: absolute;
    transform: rotate(9deg);
  }

  #tidalWave img {
    width: 225px;
    height: 63px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #stormCup {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    margin-left: 373px;
    transform: rotate(180deg);
    margin-top: 367px;
    position: absolute;
  }

  #stormCup img {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #colossus {
    width: 350px;
    height: 75px;
    border-radius: 90px;
    margin-left: 616px;
    margin-top: 545px;
    position: absolute;
    transform: rotate(111deg);
  }

  #colossus img {
    width: 200px;
    height: 75px;
    border-radius: 90px;
    transform: rotate(180deg);
  }

  #vortex {
    width: 35px;
    height: 35px;
    border-radius: 90px;
    margin-left: 900px;
    margin-top: 295px;
    position: absolute;
  }

  #vortex img {
    width: 35px;
    height: 35px;
    border-radius: 90px;
  }

  #zodiac {
    width: 33px;
    height: 33px;
    border-radius: 90px;
    margin-left: 875px;
    margin-top: 350px;
    position: absolute;
  }

  #zodiac img {
    width: 33px;
    height: 33px;
    border-radius: 90px;
  }

  #rush {
    width: 30px;
    height: 35px;
    border-radius: 90px;
    margin-left: 824px;
    margin-top: 356px;
    position: absolute;
  }

  #rush img {
    width: 30px;
    height: 35px;
    border-radius: 90px;
  }

  #quantum {
    width: 30px;
    height: 30px;
    border-radius: 90px;
    margin-left: 818px;
    margin-top: 308px;
    position: absolute;
  }

  #quantum img {
    width: 30px;
    height: 30px;
    border-radius: 90px;
  }

  #samurai {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    margin-left: 789px;
    margin-top: 746px;
    position: absolute;
  }

  #samurai img {
    width: 40px;
    height: 40px;
    border-radius: 90px;
  }

  #angryBirds {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    margin-left: 412px;
    margin-top: 410px;
    position: absolute;
    transform: rotate(130deg);
  }

  #angryBirds img {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    transform: rotate(180deg);
  }

  #kingPig {
    width: 35px;
    height: 30px;
    border-radius: 20px;
    margin-left: 455px;
    margin-top: 339px;
    position: absolute;
    transform: rotate(38deg)
  }

  #kingPig img {
    width: 35px;
    height: 30px;
    border-radius: 20px;
  }

  #monkey {
    width: 35px;
    height: 25px;
    border-radius: 20px;
    margin-left: 513px;
    margin-top: 591px;
    position: absolute;
    transform: rotate(34deg)
  }

  #monkey img {
    width: 35px;
    height: 25px;
    border-radius: 20px;
    transform: rotate(180deg);
  }

  #livingNightmare {
    width: 84px;
    height: 115px;
    border-radius: 20px;
    margin-left: 670px;
    margin-top: 530px;
    position: absolute;
    transform: rotate(20deg);
  }

  #livingNightmare img {
    margin-top: 10px;
    width: 80px;
    height: 90px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lumber {
    width: 27px;
    height: 12px;
    border-radius: 20px;
    margin-left: 663px;
    margin-top: 809px;
    position: absolute;
    transform: rotate(107deg);
  }

  #lumber img {
    width: 27px;
    height: 12px;
    border-radius: 20px;
    transform: rotate(180deg);
  }

  #timber {
    width: 67px;
    height: 25px;
    border-radius: 20px;
    margin-left: 660px;
    margin-top: 848px;
    position: absolute;
    transform: rotate(47deg)
  }

  #timber img {
    width: 67px;
    height: 25px;
    border-radius: 20px;
    transform: rotate(180deg);
  }

  #kfc {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 529px;
    margin-top: 458px;
    position: absolute;
  }

  #kfc img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #donut {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 565px;
    margin-top: 485px;
    position: absolute;
  }

  #donut img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #burgerKing {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 377px;
    margin-top: 432px;
    position: absolute;
  }

  #burgerKing img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #sombrero {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 408px;
    margin-top: 458px;
    position: absolute;
  }

  #sombrero img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #amityFish {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 425px;
    margin-top: 310px;
    position: absolute;
  }

  #amityFish img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #infernoPizza {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 340px;
    margin-top: 470px;
    position: absolute;
  }

  #infernoPizza img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #nitrogenie {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 552px;
    margin-top: 546px;
    position: absolute;
  }

  #nitrogenie img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #amityKebab {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 660px;
    margin-top: 310px;
    position: absolute;
  }

  #amityKebab img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #beachShack {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 642px;
    margin-top: 240px;
    position: absolute;
  }

  #beachShack img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #colossusSnack {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 696px;
    margin-top: 725px;
    position: absolute;
  }

  #colossusSnack img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletOne {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 510px;
    margin-top: 95px;
    position: absolute;
  }


  #vortex img {
    width: 40px;
    height: 40px;
    border-radius: 90px;
  }

  #toiletOne img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletTwo {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 355px;
    margin-top: 480px;
    position: absolute;
  }


  #zodiac img {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    }

  #toiletTwo img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletThree {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 650px;
    margin-top: 740px;
    position: absolute;
  }


  #rush img {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    }

  #toiletThree img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);

  }

  #toiletFour {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 655px;
    margin-top: 463px;
    position: absolute;
  }

  #quantum img {
    width: 40px;
    height: 40px;
    border-radius: 90px;
  }

  #toiletFour img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #toiletFive {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 850px;
    margin-top: 255px;
    position: absolute;
  }

  #toiletFive img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersOne {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 855px;
    margin-top: 265px;
    position: absolute;
  }


  #angryBirds img {
    width: 60px;
    height: 50px;
    margin-top: 15px;
    border-radius: 40px;
    transform: rotate(270deg);
    }

  #lockersOne img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);

  }

  #lockersTwo {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 649px;
    margin-top: 292px;
    position: absolute;
  }


  #kingPig img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }


  #lockersTwo img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersThree {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 890px;
    margin-top: 710px;
    position: absolute;
  }


  #monkey img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    transform: rotate(330deg);
    }

  #lockersThree img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #lockersFour {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 678px;
    margin-top: 441px;
    position: absolute;
  }

  #lockersFour img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }


  #lumber {
    width: 27px;
    height: 12px;
    border-radius: 20px;
    margin-left: 665px;
    margin-top: 809px;
    }

  #guestServices {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 793px;
    margin-top: 255px;
    position: absolute;
  }


  #lumber img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(260deg);
    }

  #guestServices img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);

  }

  #healthCentre {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 789px;
    margin-top: 240px;
    position: absolute;
  }


  #timber img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    transform: rotate(320deg);
    }

  #healthCentre img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);

  }

  #sawKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 870px;
    margin-top: 715px;
    position: absolute;
  }

  #sawKiosk img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #colossusKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 780px;
    margin-top: 490px;
    position: absolute;
  }

  #colossusKiosk img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #infernoKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 475px;
    margin-top: 620px;
    position: absolute;
  }

  #infernoKiosk img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #swarmKiosk {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 425px;
    margin-top: 120px;
    position: absolute;
  }

  #swarmKiosk img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  #gate {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    margin-left: 1060px;
    margin-top: 160px;
    position: absolute;
  }

  #gate img {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(0deg);
  }

  .titleLogo {

    width: 200px;
    height: 100%;
  }


}
